$border_radius: 2em

body 
	background-color: rgba(17,10,20,0.1)
	padding: 1em 3em 1em 3em


#header
	
	position: relative
	width: 50%
	background-color: orange
	margin: 0 auto
	border-radius: $border_radius * 0.5

	h1
		text-align: center
		font-family: helvetica

#github_logo

	position: fixed
	left: 0
	top: 0


canvas
	
	position:relative
	height: 25em
	width: 100%

	background-color: rgba(255,255,255,1)
	border-radius: $border_radius




